
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h1 class="text-white pb-2 fw-bold">Yolo-Mask</h1>
        <h5 class="text-white op-7 mb-2">Detection of people wearing masks - TAC 2020</h5>
      </div>
    </div>
  </div>
</div>


<div class="page-inner mt--5">
  <div class="row mt--2">
    <div class="col-md-8">
        <div class="card-body">
          <img src="{{ url_for('video_feed') }}" />
        </div>
    </div>
    <div class="col-md-4">
      <div class="card full-height">
        <div class="card-body">
          <div class="card-title">People Counting</div>
          <div class="row py-3">
            <div class="col-md-4 d-flex flex-column justify-content-around">
              <div>
                <h6 class="fw-bold text-uppercase text-success op-8">With Mask</h6>
                <h3 class="fw-bold">10</h3>
              </div>
              <div>
                <h6 class="fw-bold text-uppercase text-warning op-8">Mask wrong</h6>
                <h3 class="fw-bold">1</h3>
              </div>
              <div>
                <h6 class="fw-bold text-uppercase text-danger op-8">No Mask</h6>
                <h3 class="fw-bold">5</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}